:root {
    --clr-dark: #1f2937;
    --clr-light: #f9faf8;
    --clr-slate: white;
    --clr-primary: #3882f6;
    --clr-light-2: #e5e7eb;
    --clr-lightRose: #fb7185;
    --clr-green: #4ade80;
    --clr-sky: #38bdf8;
    --clr-pink: #f472b6;
    --clr-violet: #a78bfa;
    --clr-yellow: #facc15;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    word-spacing: 1.2px;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif, monospace;
    margin: 0px;
}

section {
    width: 100%;
    padding: 10px;
}

/* Section-1 */
.header {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}

.header-inner {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 20px;
}

.elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.brand {
    display: flex;
    align-items: center;
    gap: 12px;
}

#logo {
    max-width: 80px;
}

h1 {
    color: #f9faf8;
    font-size: 18px;
    font-weight: 900;
}

.nav-bar {
    display: flex;
    gap: 20px;
}

.header-link {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
}

.hero {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 40px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1 1 auto;
}

#social-proof {
    display: flex;
    align-items: center;
    gap: 10px;
}

.text-proof {
    color: var(--clr-light);
    font-size: smaller;
    text-align: left;
}

#header-img {
    border: 8px solid var(--clr-lightRose);
    border-radius: 10px;
    max-width: 100%;
}

h2 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

#header-text {
    color: #e5e7eb;
    font-size: 18px;
    text-align: left;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 700;
    text-align: center;
    padding: 5px 20px;
    flex-shrink: 0;
    border: 2px solid var(--clr-light);
    border-radius: 10px;
    cursor: pointer;
}

/* Section-2 */
h3 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 20px;
}

.information {
    display: flex;
    justify-content: center;
    width: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1100px;
    gap: 30px;
}

.inner-boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    gap: 15px;
}

.boxes {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 1 200px;
    gap: 20px;
}

.info {
    width: 100%;
    height: 200px;
    max-width: 200px;
    object-fit: cover;
    border-radius: 8px;
    border: 4px solid transparent;
}

.img-1, .img-3 {
    border-color: var(--clr-green);
}

.img-2, .img-4 {
    border-color: var(--clr-primary);
}

#info-text {
    font-size: smaller;
    font-weight: 700;
    color: #1f2937;
    text-align: center;
}

/* Section-3 */
.quote {
    background-color: var(--clr-light-2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.container-2 {
    background-color: var(--clr-light);
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    max-width: 800px;
    width: 100%;
    padding: 20px;
    gap: 20px;
    border: 8px solid var(--clr-sky);
    border-radius: 10px;
}

#citation {
    color: var(--clr-dark);
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
}

#from {
    color: var(--clr-dark);
    font-size: 18px;
    font-weight: 700;
    text-align: right;
}

/* Section-4 */
.life {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   padding: 40px 20px;
   gap: 40px;
}

.container-5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 600px;
    flex: 1 1 300px;
    gap: 20px;
    padding: 0;
}

.img-6 {
    width: 300px;
    max-width: 100%;
    border: 8px solid var(--clr-green);
    border-radius: 10px;
}

#yes {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 0;
    padding: 0;
}

#life-text {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    padding-right: 80px;
    text-align: justify;
}

#life-text-2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    padding-left: 80px ;
    text-align: justify;
}

/* Section-5 */
.action {
    background-color: var(--clr-light-2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 20px;
    gap: 30px;
}

.container-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    border: 4px solid var(--clr-sky);
    border-radius: 10px;
    max-width: 800px;
    width: 100%;
    padding: 20px;
    flex: 1 1 300px;
    gap: 20px;
}

.container-4 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 1 auto;
}

.img-5 {
    width: 200px;
    max-width: 100%;
}

#call {
    color: var(--clr-light);
    font-size: 22px;
    font-weight: 700;
}

#action-text {
    color: var(--clr-light);
    font-size: 16px;
}

/* Section-6 */
.footer {
    background-color: var(--clr-dark);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#copyright {
    color: #e5e7eb;
    font-size: 14px;
    font-weight: 300;
}

