:root {
    --clr-dark: #1f2937;
    --clr-light: #f9faf8;
    --clr-slate: white;
    --clr-primary: #3882f6;
    --clr-light-2: #e5e7eb;
    --clr-lightRose: #fb7185;
    --clr-green: #4ade80;
    --clr-sky: #38bdf8;
    --clr-pink: #f472b6;
    --clr-violet: #a78bfa;
    --clr-yellow: #facc15;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    word-spacing: 1.2px;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif, monospace;
    margin: 0px;
}

section {
    width: 100%;
    padding: 10px;
}

/* Section-1 */
.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.elements {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 100%;
}

.brand {
    display: flex;
    align-items: center;
    gap: 12px;
}

#logo {
    max-width: 80px;
}

h1 {
    color: #f9faf8;
    font-size: 18px;
    font-weight: 900;
}

.nav-bar {
    display: flex;
    gap: 20px;
}

.header-link {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 400px;*/
    width: 100%;
    padding: 10px;
    gap: 50px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 15px;
    /*padding: 20px;*/
}

#social-proof {
    display: flex;
    align-items: center;
    gap: 10px;
}

.text-proof {
    color: var(--clr-light);
    font-size: smaller;
    text-align: left;
}

#header-img {
    border: 8px solid var(--clr-lightRose);
    border-radius: 10px;
    max-width: 100%;
}

h2 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

#header-text {
    color: #e5e7eb;
    font-size: 18px;
    text-align: left;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 700;
    text-align: center;
    padding: 5px 20px;
    flex-shrink: 0;
    border: 2px solid var(--clr-light);
    border-radius: 10px;
    cursor: pointer;
}

/* Section-2 */
h3 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-top: 20px;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.info {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.img-1, .img-3 {
    border: 4px solid var(--clr-green);
}

.img-2, .img-4 {
    border: 4px solid var(--clr-primary);
}

p {
    font-size: smaller;
    font-weight: 700;
    color: #1f2937;
    text-align: center;
}

/* Section-3 */
.quote {
    background-color: var(--clr-light-2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-2 {
    border: 8px solid var(--clr-sky);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    gap: 20px;
}

#citation {
    color: var(--clr-dark);
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

#from {
    color: var(--clr-dark);
    font-size: 22px;
    font-weight: 700;
    text-align: right;
}

/* Section-4 */
.life {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   padding: 20px;
   gap: 80px;
}

.container-5 {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 20px;
}

.img-6 {
    width: 15%;
    border: 8px solid var(--clr-green);
    border-radius: 10px;
}

#yes {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 20px;
    text-align: left;
}

#life-text {
    font-size: 18px;
    font-weight: 700;
    padding: 20px;
    text-align: left;
}

/* Section-5 */
.action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    border: 2px solid var(--clr-primary);
    border-radius: 10px;
    width: 50%;
    height: 200px;
    padding: 10px;
}

.img-5 {
    width: 200px;
    height: 200px;
    /*position: absolute;*/
    z-index: -1;
    margin-bottom: 250px;
    left: 960px;
}

#call {
    color: var(--clr-light);
    font-size: 22px;
}

#action-text {
    color: var(--clr-light);
}

/* Section-6 */
.footer {
    background-color: var(--clr-dark);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#copyright {
    color: #e5e7eb;
    font-size: 14px;
    font-weight: 300;
}

